@charset "utf-8";
/* 보그 PJ 공통디자인 CSS - common.css */
/* 상단영역 + 하단영역 */

/*************** 1. 상단영역 ***************/
.top{
    min-height: 206px;
}
/********** 1-1.상단메뉴 **********/
.tmenu{
    /* 플렉스박스 */
    display: flex;
    max-width: 970px;
    height: 44px;
    margin: 0 auto;
}
/* 플렉스 박스 직계div 공통 */
.tmenu>div{
    flex: 1;
    /* 등분할 자동높이! */
}
/* 1-1-1.sns박스 */
.sns a{
    width: 16px;
    height: 16px;
    /* .fi에 이미 inline-block 되어있음 */
    font-size: 16px;
    text-align: center;
    vertical-align: top;
    line-height: 16px;

    /* 마진으로 위치조정 */
    margin-top: 14px;
    margin-right: 17px;

    /* 트랜지션: 속시이지 */
    transition: opacity .2s;
}
/* a요소 오버시 */
.sns a:hover{
    opacity: 0.8;
}
/* 트위터 아이콘 조정 */
.sns a.fi-twitter{
    font-size: 13px;
}
/* 유튜브 아이콘 조정 */
.sns a.fi-youtube-play{
    font-size: 11px;
}
/* 카카오 스토리 배경이미지 넣기 */
.sns a:last-child{
    background: url(../images/sns_kakao.png) no-repeat center/auto 100%;
}


/* 1-1-2.사이드메뉴 */
.sideMenu{

}
/********** 1-2.로고박스 **********/
.logo{
    height: 115px;
    text-align: center;
}
/********** 1-3.GNB박스 **********/
.gnb{
    min-height: 46px;
}

/*************** 2. 하단영역 ***************/
.info{
    min-height: 286px;
}
