@charset "utf-8";
/* 로봇 PJ CSS - robot.css */

/* 공사중표시 */
body *{
    outline: 2px dashed lime;
}

/* 초기화 */
html,body,h1,h2,h3,ul,ol{
    margin: 0;
    padding: 0;
}

/* 전체배경 */
body{
    /* 스크롤확인용 */
    /* height: 3000px; */

    /* 배경: 색이반고윙/크 */
    background: url(../images/bg.jpg) no-repeat fixed top/cover;
}

/* 공통class */
/* 메탈소재1 배경 */
.mt1{
    background: url(../images/metal01.jpg) no-repeat center/cover;
}
/* 메탈소재2 배경 */
.mt2{
    background: url(../images/metal02.jpg) no-repeat center/cover;
}

/* 2-1. 로봇박스 */
.robx{
    /* 패딩 위,아래 */
    padding: 200px 0 400px;
}

/* 2-1-1.로봇머리 */
.head{
    position: relative;
    /* 부모자격!!! */
    width: 250px;
    height: 250px;
    /* 마영오 */
    margin: 0 auto;
}
/* 눈공통 */
.eye{
    /* 포지션 : 앱솔루트 */
    position: absolute;
    width: 50px;
    height: 50px;

    /* 배경공통 */
    /* 배경반복 : 반복안함 */
    background-repeat: no-repeat;
    /* 배경위치 : 중앙 */
    background-position: center;
    /* 배경크기 : 채움 */
    background-size: 100% 100%;
}
/* 왼눈 */
.e1{
    top: 50px;
    left: 50px;
    background-image: url(../images/e1.jpg);
}
/* 오른눈 */
.e2{
    top: 50px;
    right: 50px;
    background-image: url(../images/e2.jpg);
}
/* 코 */
.nose{
    position: absolute;
    top: 107px;
    left: 99px;
    width: 50px;
    height: 70px;
    background: url(../images/nose.jpg) no-repeat 0/100% 100%;
}
/* 입 */
.mouth{
    position: absolute;
    bottom: 17px;
    left: 70px;
    width: 96px;
    height: 41px;
    background: url(../images/mouth.png) no-repeat 0/100% 100%;
}