@charset "utf-8";
/* 도깨비 PJ 로그인 페이지 CSS - login.css */
/* 로그인 페이지에만 적용되는 CSS */

/* 외부 CSS합치기 */
@import url(reset.css);
@import url(core.css);
@import url(common.css);

/* 공사중 표시 */
/* body * {
    outline: 1px dotted red;
} */

/* 메인 겉박스 */
#cont{
    /* 전체 메인 배경색 */
    background-color: #d7d7d7;
}

/* 메인 속박스 */
.cont{
    /* 최소높이설정 : 내용넘칠경우 자동auto */
    min-height: 600px;
}

/* 1. 타이틀 */
.stit{
    font-size: 5rem;
    text-align: center;
    padding: 40px 0 20px;
    font-weight: normal;
}
/* 2. 컨텐츠박스 */
.scont{
    /* 렐러티브 포지션 (부모자격:.btnbx) */
    position: relative;
    max-width: 700px;
    min-height: 275px;
    margin: 0 auto;

    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #777;
    padding: 60px 15px;
    /* 박스크기유지: 보더,패딩포함 bxb */
    box-sizing: border-box;
}

/* 입력창 공통 라벨 */
.minput label{
    /* 크기디자인 적용위해 */
    display: inline-block;
    width: 150px;
    font-size: 2rem;
    font-weight: bold;
    color: #555;
    text-align: center;
    line-height: 3.6rem;
}

/* 입력양식공통 */
.minput input{
    width: 320px;
    height: 36px;
    border: 1px solid #777;
    border-radius: 5px;
    font-size: 1.8rem;
    padding-left: 15px;
    /* 크기유지 bxb */
    box-sizing: border-box;
    color: #555;
}

/* 비밀번호박스 */
.scont div:nth-child(2){
    margin-top: 20px;
}

/* 포커스 아웃라인 제거
모든 브라우저에 기본 포커스 아웃라인 셋팅됨! */
input:focus{
    outline: none;
}

/* 버튼영역 */
.btnbx{
    position: absolute;
    top: 60px;
    right: 60px;
    /* 부모는? .scont */
}
/* 서브밋버튼 */
#sbtn{
    width: 113px;
    height: 92px;
    border: 1px solid #888;
    border-radius: 5px;
    /* 배경 그라데이션 */
    background-image: 
    linear-gradient(to bottom,#ddd,#555);
    color: #fff;
    font-size: 1.5rem;
    text-shadow: 1px 1px #555;
}

/* 체크박스 영역 */
.addbx{
    margin-top: 50px;
    text-align: center;
    font-size: 1.6rem;
}

/* 체크박스 라벨과 세로정렬 */
.addbx input{
    vertical-align: -3px;
}

/* 기타링크 구분선 */
/* span+span 앞에 span이 있는 span형제 */
.addbx span+span::before{
    content: '|';
    margin: 0 15px;
}