@charset "utf-8";
/* 로그인 페이지 미디어쿼리 CSS - media_login.css */

/**************** 750이하 ****************/
@media screen and (max-width: 750px) {
    
    /* 1. .cont박스 */
    .cont{
        padding: 0 15px;
    }

    /* 2. 로그인 버튼박스 */
    .btnbx{
        position: static;
        padding-top: 30px;
    }
    /* + 로그인버튼 */
    #sbtn {
        width: 100%;
        height: 49px;
    }
    /* 3. 라벨공통 */
    .minput label{
        /* 기존 inline-block을 변경 */
        display: block;
        /* 기존 가로크기 초기화 */
        width: auto;
    }
    /* 4. 입력박스 */
    .minput input{
        width: 100%;
    }

    /* 5. 기타구분선 3번째span 변경 */
    .addbx span:nth-child(3){
        padding-right: 11px;
    }
    .addbx span:nth-child(3)::before{
        content: '';
        display: block;
        /* 블록으로 줄바꿈함! */
    }


} /**************** 750px이하 ****************/