@charset "utf-8";
/*My Item PJ 오시는길 CSS - location.css*/

/*외부css파일 합치기*/
@import url(core.css);
@import url(reset.css);
@import url(common.css);

/*타이틀*/
.tit{
    width: 700px;
    height: 45px;
    margin: 0 auto;
    margin-top: 80px;
    font-size: 20px;
    line-height: 45px;
    color: #777;
    text-shadow: 1px 1px 1px #999;
    /*outline: 1px solid red;*/
}
/*가상요소로 아이콘 넣기*/
.tit::before{
    content: url(../images/loca_icon.png);
    vertical-align: -12px;
    margin-right: 13px;
    margin-left: 5px;
}

/*지도메뉴*/
.menu{
    width: 700px;
    margin: 5px auto;
}
.menu a{
    display: inline-block;
    margin: 0 9px;
}
.menu a:hover,
.menu a.on{
    color: #079c2a;
    transform: scale(1.1);
}

/*맵박스*/
#map{
    width: 700px;
    height: 400px;
    margin: 0 auto;
    margin-top: 10px;
    outline: 3px solid #ccc;
    overflow: hidden;
}

/*구글맵*/
.gmap{
    width: 100%;
    height: 100%;
    border: none;
    /*display: none;*/
}


