@charset "utf-8";
/*My Item PJ 회원가입 CSS - member.css*/

/*외부css파일 합치기*/
@import url(core.css);
@import url(reset.css);
@import url(common.css);

/*컨텐츠 박스*/
#cont {
    overflow: hidden;
    /*자식 블록요소 마진탑 포함!*/
}

/*크롬 포커스 아웃라인 없애기*/
input:focus,
select:focus {
    outline: none;
}

/*타이틀*/
.tit {
    width: 700px;
    height: 45px;
    margin: 0 auto;
    margin-top: 80px;
    /*블록박스 첫번째 요소의 마진탑은
    부모요소 바깥으로 나간다!
    부모가 overflow:hidden이면 포함됨!*/
    font-size: 20px;
    line-height: 45px;
    color: #777;
    text-shadow: 1px 1px 1px #999;
    /*outline: 1px solid red;*/
}

/*가상요소 아이콘 넣기*/
.tit::before {
    content: url(../images/mem_icon.png);
    vertical-align: -10px;
    margin-left: 5px;
    margin-right: 18px;
}

/*회원가입박스*/
#meminfo {
    width: 700px;
    height: 464px;
    margin: 20px auto 80px;
    /*마진 3개쓰면 위 양쪽 아래순*/

    border: 2px solid #737373;
    border-radius: 10px;
    padding: 30px 51px;
    box-sizing: border-box;
    /*마진,패딩포함박스*/
    display: none;/*처음에 안보임*/
}

/*리스트 ul*/
#meminfo ul {
    width: 100%;
    height: 100%;
    font-size: 1.25rem;
    /*20px*/
    font-weight: bold;
    color: #373737;
}

/*리스트 li*/
#meminfo ul li {
    width: 100%;
    /*한줄에 하나씩!*/
    height: 50px;
    line-height: 50px;
    /*outline: 1px solid red;*/
}

/*라벨공통*/
#meminfo label {
    display: inline-block;
    /*크기도 적용되고 한줄오고~굿!*/
    width: 200px;
}

/*입력박스 공통*/
#meminfo input[type=text],
#meminfo input[type=password] {
    width: 340px;
    height: 36px;
    font-size: 1.124rem;
    /*18px*/
    border: 1px solid #737373;
    border-radius: 5px;
    padding-left: 5px;
}

/*라디오버튼*/
#meminfo input[type=radio] {
    width: 20px;
    height: 20px;
    vertical-align: -4px;
}

/*이메일 입력창*/
#meminfo #email1 {
    width: 170px;
}

/*이메일 직접입력창*/
#meminfo #email2 {
    width: 139px;
    margin-left: 201px;
    display: none;
    /*숨겨놓기*/
}

/*이메일 선택박스*/
#seleml {
    width: 146px;
    height: 40px;
    border: 1px solid #555;
    border-radius: 5px;
    font-size: 1.124rem;
}

/*가입하기 버튼*/
#btnj {
    float: right;
    width: 113px;
    height: 40px;
    border: 1px solid #737373;
    border-radius: 5px;
    color: #fff;
    background-image: linear-gradient(to bottom, #ddd, #555);
    margin-top: 5px;
    margin-right: 40px;
}

/*메시지출력*/
.msg{
    display: block;
    width: 100px;
    height: 15px;
    line-height: 12px;
    font-size: 9px;
    color: #f00;
    white-space: nowrap;
    /*줄바꿈방지*/
    margin-top: -12px;
}
/*메시지 그린색*/
.msg b{
    color: green;
}

/*약관동의박스*/
#conf{
    width: 700px;
    height: 600px;
    margin: 20px auto 80px;
    /*마진 3개쓰면 위 양쪽 아래순*/
    border: 2px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #fff;
}
/*약관동의 기본 css재정의*/
.terms_p{
    border: none;
    border-radius: 10px;
}

/*동의,비동의 버튼박스*/
.YNbox{
    text-align: center;
}
/*동의,비동의 버튼*/
.YNbox>button{
    width: 113px;
    height: 40px;
    border: 1px solid #737373;
    border-radius: 5px;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    background-image: linear-gradient(to bottom, #ddd, #555);
    margin: 0 20px;
    cursor: pointer;
}








