@charset "utf-8";
/* 음원사이트 intro페이지 CSS - main.css */

/* 외부 CSS 합치기 */
@import url(reset.css);
@import url(core.css);

.logo h1{
    font-size: 5vw;
    text-align: center;
    color: #000;
    top: 50%;
    display: block;
}