@charset "utf-8";
/* 회전하는 아이폰 + 흐르는 글자 CSS - iPhone.css */

html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    /* 보이는 화면 채우기 */
}
body{
    background-image: 
    linear-gradient(to bottom, #fff 20%,skyblue 40%,#fff);
    /* 넘치는 자식요소 숨기기 */
    overflow: hidden;
}
/* 폰박스 */
.iphone{
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 100px);
    /* 계산을 통한 정중앙셋팅! */
    width: 200px;
    height: 400px;
    outline: 2px solid blue;

    /* 입체설정 */
    transform-style: preserve-3d;
    /* 입체를 잘보이게 약간회전 */
    transform: rotateX(10deg) rotateY(30deg);
}
/* 폰 각면 공통 */
.iphone span{
    position: absolute;
    width: 200px;
    height: 400px;

    /* 배경공통 */
    background-repeat: no-repeat;
    background-size: 100% 100%;

    outline: 1px dashed red;
}
/* 1.앞면 */
.iphone span:nth-child(1){
    background-image: url(../images/ip01.png);
    /* z축 밀기 */
    transform: translateZ(10px);
    display: none;
}
/* 2.오른쪽면 */
.iphone span:nth-child(2){
    background-image: url(../images/ip03.png);
    width: 20px;
    right: -10px;
    /* y축회전 90도 */
    transform: rotateY(90deg);
}