<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue JS 데이터 바인딩 연습2</title>
    <!-- 뷰JS 프레임워크 스텐드얼론 버전 가져오기 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <!-- 엑시오스 라이브러리 스텐드얼론 버전 가져오기(제이슨불러오기) -->
    <script src="https://cdn.jsdelivr.net/npm/axios@0.17.1/dist/axios.min.js"></script>
    <script>

        //////////// 로딩구역 /////////////////////
        window.addEventListener("DOMContentLoaded",()=>{

            console.log("로딩완료");

            /// 데이터 바인딩을 위한 Vue 인스턴스 생성하기 ///
            new Vue({
                el: "#app",
                data: {
                    vals: {} // json 데이터가 객체임!
                }, //// data ////
                mounted: function(){
                    axios // 엑시오스 객체
                    .get("./product.json")
                    .then(x => this.vals = x);
                } /// mounted /////
            }); ///////////// Vue /////////////////

        }); ///////////// 로딩구역 ////////////////////////
        //////////////////////////////////////////////////
        
    </script>
<style>
    #main{
        display: flex;
        flex-wrap: wrap;
    }
    #main>ul{
        width: 20%;
        text-align: center;
    }
</style>

</head>

<body>
    <h1>Vue JS 데이터 바인딩 연습</h1>
    <div id="app">
        <!-- 원본데이터는 바로 하위로 못들어감! -->
        <section id="main" v-for="(value,name) in vals.data">
            <!-- 여기서부터 하위로 바로 접근가능함!!! -->
            <ul v-for="(c,b) in value.data.items">
                
                    <li>
                        <h2>아이디 : {{c.id}}</h2>
                        </li>
                        <li>
                             <h3>이름 : {{c.name}}</h3>
                        </li>
                       <li>
                           <textarea name="ta" id="ta" cols="30" rows="10">
                               설명 : {{c.description}}
                           </textarea>

                       </li>
                       <li>
                           <div v-html="'특징:'+c.features"></div>
                       </li>
                       <li>
                            가격: {{c.price}} $
                       </li>
                        
                    </li>

             
    
            </ul>

        </section>
    </div>
</body>

</html>