@charset "utf-8";
/* CGV PJ 메인 페이지 CSS - main.css */

/* 외부 CSS 합치기 */
@import url(reset.css);
@import url(core.css);

/* 전체배경색 */
body{
    background-color: #000;
}

/* 공사중표시 */
/* body *{
    outline: 1px dotted lime;
} */

/****************** 1. 상단영역 ******************/
.top{
    /* 렐러티브 포지션 - 부모자격(.gnb) */
    position: relative;
    height: 80px;
    background: url(../images/curtain.jpg) repeat-x;
    /* 가장위 */
    z-index: 9999;
}
/* 1-1.로고 */
.tit{
    font-family: 'Jua', sans-serif;
    color: aquamarine;
    font-size: 4rem;
    text-align: center;
    line-height: 80px;

    /* 그림자를 이용한 Glow효과 */
    text-shadow: 0 0 4px aquamarine;
    /* 애니메이션: 이시이지반방마 */
    animation: 
    titAni .5s ease-in infinite alternate;
}
/* 타이틀 글로우 효과 애니메이션 키프레임 */
@keyframes titAni {
    to{
        text-shadow: 0 0 12px aquamarine;
    }
} /* 키프레임 */

/* 1-2.GNB */
.gnb{
    /* 앱솔루트 포지션 */
    position: absolute;
    bottom: 10px;
    right: 20px;
    /* 부모는? .top */
}
/* 네비 ul */
.gnb ul{
    /* 플렉스박스 - 직계li만 옆으로! */
    display: flex;
    /* 메뉴박스 공통 글자체 */
    font-family: 'Jua', sans-serif;
}
/* 상위 li만 적용! ul>li */
.gnb ul>li{
    /* 렐러티브 포지션 - 부모자격 */
    position: relative;
    font-size: 2rem;
    padding: 0 10px;
    /* 하단패딩-서브메뉴 아웃문제해결! */
    padding-bottom: 5px;
}

/* GNB 서브메뉴 */
.smenu{
    position: absolute;
    left: 50%;
    /* 부모는? 싸고있는 li */

    /* 트랜스폼 x축으로 중앙이동! y축은 5px이동 */
    transform: translate(-50%,5px);
    width: 140px;
    padding: 3px;
    background: url(../images/bg_smenu.png) no-repeat center/cover;
    border-radius: 5px;
    box-shadow: 0 0 5px #fff;

    /* 처음에 안보임! */
    display: none;
}
/* 상위메뉴li에 마우스 오버시 하위메뉴 보이기 */
.gnb ul>li:hover .smenu{
    display: block;
}

/* 가상요소로 삼각형 모양 만들기 */
.smenu::before{
    content: '';
    display: block;
    position: absolute;
    top: -10px;
    left: 50%;
    /* 부모는? .smenu */
    transform: translateX(-50%);

    /* 삼각형 만들기 */
    width: 0;
    height: 0;
    border-bottom: 10px solid #353535;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

/* 서브메뉴 ol */
.smenu ol{
    border: 1px solid #ccc;
    padding: 10px;
}
/* 서브메뉴 li */
.smenu li{
    font-size: 1.6rem;
    line-height: 2;
}
/* 서브메뉴 a요소 */
.smenu a{
    display: block;
    /* li요소 패딩안쪽까지 확장! */
}
/* 서브메뉴 오버시 빨간색 글자 */
.smenu a:hover{
    color: red;
}
/* 서브메뉴 오버시 이모지 가상요소로 넣기 */
/* 이모지는 윈도우키+세미콜론(;) 단축키 */
/* "영화"하위메뉴 이모지 */
.gnb ul>li:nth-child(1) .smenu a:hover::after{
    content: '😍';
    float: right;
}
/* "예매"하위메뉴 이모지 */
.gnb ul>li:nth-child(2) .smenu a:hover::after{
    content: '🎬';
    float: right;
}
/* "극장"하위메뉴 이모지 */
.gnb ul>li:nth-child(3) .smenu a:hover::after{
    content: '📣';
    float: right;
}
/* "이벤트&컬처"하위메뉴 이모지 */
.gnb ul>li:nth-child(4) .smenu a:hover::after{
    content: '🎪';
    float: right;
}

/* 서브메뉴 중 li 보더 상단 class */
.bdt{
    border-top: 1px solid #ccc;
}


/****************** 2. 메인영역 ******************/
.cont{
    /* 렐러티브 포지션 : 부모자격(#screen) */
    position: relative;
    height: 788px;
    background: url(../images/bg.jpg) no-repeat center;
}
/* 2-1.스크린박스 */
#screen{
    /* 앱솔루트 포지션 */
    position: absolute;
    top: 136px;
    left: calc(50% - 344px);
    /* 화면이 줄어도 스크린이 중앙에 위치하도록
    left 50%밀고 스크린 크기의 절반정도를 뺌! */
    width: 702px;
    height: 397px;
    /* 부모는? .cont */
    background-color: #000;
}
/* 유튜브 아이프레임 */
#screen iframe{
    width: 100%;
    height: 100%;
    border: none;
    /* 기본프레임보더 없앰 */
}

/* 2-2.예고편 선택메뉴 */
.mlist{
    position: absolute;
    bottom: 57px;
    width: 100%;
    /* 앱솔루트 판타롱스타킹 이므로
    가로크기를 부모박스에 맞춘다!
    왜? flex 정렬을 쓰려고! */
}
/* 선택메뉴 ul */
.mlist ul{
    /* 플렉스 박스 */
    display: flex;
    /* 수평방향 정렬 */
    justify-content: center;
    /* 원근설정 - 하위li에 주기위함 */
    perspective: 480px;
}
/* 상위 li */
.mlist ul>li{
    /* 렐러티브 포지션 
    - 부모자격(.movtxt) */
    position: relative;
    /* 부모자격이 있는 요소가
    앱솔루트 숨길 수 있다! */
    overflow: hidden;
    /* 트랜스폼 축변경 - 하위 */
    transform-origin: bottom;
    /* 트랜스폼 x축회전 */
    transform: rotateX(40deg);
    /* 트랜지션: 속시이지 */
    transition: all .4s ease-out;
}
/* 상위 li에 마우스 오버시 일어나!! */
/* + 클래스on 적용시 같은 변경적용! */
.mlist ul>li:hover,
.mlist ul>li.on{
    transform: rotateX(0deg);
    outline: 1px solid aqua;
    /* 오버시 맨위로 오게 z-index */
    z-index: 1;
}

/* 상위 li 2번째 부터 끝까지 선택 */
.mlist>ul>li+li{
    margin-left: 10px;
}

/* 포스터 이미지 */
.mlist img{
    width: 99px;
    height: 140px;
}

/* 영화정보박스 */
.movtxt{
    /* 플렉스박스 */
    display: flex;
    /* 플렉스 수직방향진행 */
    flex-direction: column;
    /* 진행방향의 수평 중앙정렬 */
    justify-content: center;


    /* 앱솔루트 포지션 */
    position: absolute;
    /* 처음에 높이값 만큼 아래에 있음 */
    top: 100%;
    /* 부모는? 상위li */
    width: 100%;
    height: 100%;

    /* 반투명배경 */
    background-color: rgba(0, 0, 0, 0.7);

    /* 글자셋팅 */
    font-family: 'Cute Font', cursive;
    color: #fff;
    font-size: 1.4rem;
    text-align: center;
    line-height: 2;

    /* 트랜지션: 속시이지 */
    transition: top 0.5s cubic-bezier(0.74, 0.1, 0.34, 0.93);
}
/* 상위li에 마우스 오버시 영화정보 올라오기 */
.mlist ul>li:hover .movtxt{
    top: 0;
}

/* 영화제목만 변경 */
.movtxt li:first-child{
    color: aqua;
    font-size: 1.7rem;
    letter-spacing: -1px;
}

/****************** 3. 하단영역 ******************/
.info{
    /* 플렉스박스 - 하위직계div만 옆으로 흐름 */
    display: flex;
    /* 진행방향의 수직정렬 */
    align-items: center;
    /* 최소높이설정 - 내용이 늘면 늘어남 */
    min-height: 100px;
}

/* 3-1.하단로고 */
.info>div:first-child{
    margin-right: 20px;
}
/* 3-2.회사주소 */
.info address{
    color: #ccc;
    /* 기본 이탤릭 해제 */
    font-style: normal;
    font-family: 'Cute Font', cursive;
    font-size: 1.8rem;
    line-height: 2rem;
}
/* 3-3.SNS박스 */
.info>div:last-child{
    /* 마지막 div만 오른쪽 끝으로 이동! */
    margin-left: auto;
}
.sns{
    /* 플렉스박스 
    - 하위 li 옆으로 흐르게 */
    display: flex;
}
.sns li{
    width: 34px;
    height: 34px;
}
/* sns a요소 확장! */
.sns a{
    display: block;
    width: 100%;
    height: 100%;

    /* 폰트어썸 아이콘 설정 */
    font-size: 30px;
    text-align: center;
    line-height: 34px;
}
/* sns a요소 오버시 */
/* 페이스북 */
.sns a[class$=book]:hover{
    color: lightskyblue;
}
/* 트위터 */
.sns a[class*=tw]:hover{
    color: lightcoral;
}
/* 인스타그램 */
.sns a[class^='fa-brands fa-square-in']:hover{
    color: lightgreen;
}
/* 
    *** 속성선택자 -> [] 대괄호 사용 ***

    [속성명=값] -> 값이 정확히 일치할때 적용
    [속성명*=값] -> 값이 어디든지 있기만 하면
                    (*별은 모두가 본다!)
    [속성명^=값] -> 값이 시작하는 문자가 있으면 적용
                    (^ 일은 웃으면서 시작)
    [속성명$=값] -> 값이 끝나는 문자가 있으면 적용
                    ($ 일이 끝나면 돈받고 끝나라!)
    ___________________________________________                
    -> 문자열이 문제가 없다면 따옴표없이 사용가능!
*/

