@charset "utf-8";
/* 도깨비 PJ 미디어쿼리 CSS - media.css */

/**************** 1200이하 ****************/
@media screen and (max-width:1200px) {
    /* 탑메뉴 가로크기 화면맞춤 */
    .tmenu{
        width: 100%;
    }
} /**************** 1200px이하 ****************/

/**************** 1070이하 ****************/
@media screen and (max-width:1070px) {
    /* 상대단위 rem글자 크기변경 위해 html변경 */
    html{
        font-size: 8px;
    }
    /* GNB메뉴 조정 */
    .gnb {
        width: 495px;
        margin-top: 34px;
    }
    /* 하단링크 조정 */
    .blink ul {
        max-width: 680px;
    }
    /* 브랜드박스 */
    .brand{
        display: none;
    }
} /**************** 1070px이하 ****************/

/**************** 1070이하 ****************/
@media screen and (max-width:1070px) {
    
} /**************** 1070px이하 ****************/